@model TestsLaunchesHistoryViewModel

@{
    ViewData["Title"] = "Tests launches history";
}

<h1 style="margin-top: 5rem;">@ViewData["Title"]</h1>

<style class="table table-striped table-dark">
    :nth-child(0) {
        background: #778899;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Test</th>
                    <th scope="col">Class name</th>
                    <th scope="col">Passed/ Ignored</th>
                    <th scope="col">Elapsed time/ Ignore message</th>
                    <th scope="col">Launch time</th>
                </tr>
            </thead>
            <tbody>
                @{foreach (var assembly in Model.Assemblies)
                    {
                        <tr>
                            <th>Assembly: @assembly.Name</th>
                        </tr>

                        var testsInAssembly = Model.Tests.FindAll(x => x.Assembly.Name == assembly.Name);

                        foreach (var test in testsInAssembly)
                        {
                            if (test.Passed)
                            {

                                <tr>
                                    <th>@test.Name</th>
                                    <td>@test.ClassName</td>
                                    <td>True</td>
                                    <td>@test.ElapsedTime</td>
                                    <td>@test.TestLaunchTime</td>
                                </tr>
                            }
                            else if (test.Ignored)
                            {
                                <tr>
                                    <th>@test.Name</th>
                                    <td>@test.ClassName</td>
                                    <td>Ignored</td>
                                    <td>@test.IgnoreMessage</td>
                                    <td>@test.TestLaunchTime</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>@test.Name</th>
                                    <td>@test.ClassName</td>
                                    <td>False</td>
                                    <td>@test.ElapsedTime</td>
                                    <td>@test.TestLaunchTime</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
